[core]
logging_conf_file={PYPELINE}/luigi_central_scheduler/luigi_log.cfg

[appConfig]
scheduler_wait_time=10
scheduler_end_hour=23
scheduler_end_minute=59

[email]
format=html
receiver=test@server.com
force-send=True
sender=luigi-noreply@pypeline.com
sendername=Luigi
# method=smtp
prefix=[LUIGI]

# [smtp]
# host=servername

[batch_notifier]
email_interval=1

[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40

[scheduler]
record_task_history=True
remove_delay=86400
state_path=../var/luigi/luigi-state.pickle

[task_history]
db_connection=sqlite:///../var/luigi/luigi-task-hist.db
